$black: #010B04;
$white: #FFF;
$cream: #F6E7D9;
$blue: #26717F;
$light_blue: #E5F8F9;
$dark_blue: #11302F;
$green: #004913;
$light_green: #69AB3C;
$orange: #FFA400;
$grey: #E9EDED;

$main_font: 'GillSans';


$title: 2rem;
$large: 1.2rem;
$regular: 1rem;
$small: .6rem;