@import "./vars.scss";

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 2rem 0 2rem;
}

.employees-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.2rem;
}

.employees-list-item {
    background: $cream;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 6px;

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
    }

    .btn-wrap {
        margin-top: 2rem;
    }

    .btn {
        margin: auto;
    }
}

#add-employee-page {
    padding: 2rem 1rem;
}